<section class="about">
    <div class="img-wrapper">
    	<img src="./img/about-helen.png" alt="lego image of Helen">
    </div>
    <div class="blurb">
        <h2>Hello.</h2>
        <p> I'm Helen. </p>
        <p>For the last 10 years I've developed and improved digital stuff &ndash; apps, websites and a robot :robot:. I'm particularly interested understanding users' needs and activities and delivering digital experiences that support these together with the needs of business.</p>
        <p>I'm currently looking for a role as a <b>user researcher</b>.</p>
    </div>
</section>