<footer id="footer">
    <div class="inner-wrapper">
        <ul id="footer-nav">
            {% assign posts = site.posts | sort: "year" %}
            {% for post in posts reversed %}
            <li> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.project }}</a>
            </li>
            {% endfor %}
        </ul>
        <div id="non-nav">
            <ul id="socials">
                <li> <a href="https://www.linkedin.com/in/helencalderon/" title="LinkedIn"><i class="fab fa-lg fa-fw fa-linkedin"></i></a></li>
                <li> <a href="https://www.twitter.com/helen26" title="Twitter"><i class="fab fa-lg fa-fw fa-twitter"></i></a></li>
                <li> <a href="mailto:helencalderon@gmail.com" title="Email me"><i class="fas fa-lg fa-fw fa-at "></i></a></li>
                <li> <a href="https://github.com/helencalderon" title="GitHub"><i class="fab fa-lg fa-fw fa-github"></i></a></li>
            </ul>
            <p>Designed and hand coded by <a href="{{ site.baseurl | append: "/humans.txt" }}">me</a>&#128105;&#127996;&#8205;&#128187;</p>
        </div>
    </div>
</footer>