<section class="projects">
    <h1>My projects</h1>
    {% assign posts = site.posts | sort: "year" %}
    {% for post in posts reversed %}
    {% if post.publish == no %}
    <a href="{{ post.url | prepend: site.baseurl }}">

        <div class="card">
            <img src="{{ site.baseurl }}/img/{{ post.img }}" alt="{{ post.project }}">
            <div class="blurb">
                <p class="meta" >{{ post.year }} | {{ post.skills }}</p>
                <h3>{{ post.project }}</h3>
                <h4>{{ post.company }}</h4>
                <p class="project-desc">{{ post.description }}</p>
            </div>
        </div>
    </a>
    {% endif %}
    {% endfor %}
</section>