$base-font-family: 'Open Sans',
Arial,
sans-serif;
$header-font: 'Raleway',
Futura,
Tahoma,
sans-serif;

$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$white: #FFFFFF;
$grey: #d6d2d2;
$red: #880e27;
$green: #2c5e2c;
$turk: #2c5e5e;
$brown: #35322F;
$burg: #5e2c2c;
$blue: #DCEAFB;
$h-pink: #FE5D9F;
$pink: #F686BD;


$text-color: #1d1d1d;


@function em($px, $base: $base-font-size) {
    @return $px / $base * 1em;
}

$spacing-unit: 36px;
$mobile-s-u: $spacing-unit/4;

// Widths 
$main: 1280px;
$post: 714px;
$tiny-mobile: 320px;
$mobile: 479px;
$tablet: 768px;
$grid: 275px; //4 grids 
$gutter: $spacing-unit;
$border: 4px;

b {
    font-weight: 700;
}

@mixin font-size($element-size) {

    @if $element-size=="h1" {
        font-size: em(43px);
    }

    @if $element-size=="h2" {
        font-size: em(34px)
    }

    @if $element-size=="h3" {
        font-size: em(27px)
    }

    @if $element-size=="h4" {
        font-size: em(21px)
    }

    @if $element-size=="p" {
        font-size: em(21px)
    }

    @if $element-size=="h5" {
        font-size: em(17px)
    }
}


@mixin border($side, $color: $blue) {
    @if $side=="tb" {
        border-top: $border solid $color;
        border-bottom: $border solid $color
    }

    @if $side=="all" {
        @media only screen and (max-width: $mobile) {
            border-width: $border/4;
        }
        border: $border solid $color;
    }

    @if $side=="link" {
        border-bottom: ($border/5) solid $color;
    }
}


@mixin body-padding {
    padding: $spacing-unit percentage($gutter/$main);
}



body {
    font-family: $base-font-family;
    font-weight: 300;
    color: $text-color;
    background-color: $blue;
    -webkit-text-size-adjust: 100%;
    width: 100%;
    overflow-x: hidden;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
img %vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5 {
    font-family: $header-font;
    text-transform: uppercase;
}


h1 {
    font-size: em(43px);
    line-height: 68px;
}

h2 {
    font-size: em(34px);
    line-height: 55px;
}

h3 {
    font-size: em(27px);
    line-height: 44px;
}

h4,
p,
ul,
ol {
    font-size: em(21px);
    line-height: 36px;
}

h5 {
    font-size: em(17px);
    line-height: 30px;
}

li>ul {
    font-size: 21px;
    line-height: 36px;
}

@media only screen and (max-width: $mobile) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    ul,
    ol,
    dl,
    figure,
    %vertical-rhythm {
        margin-bottom: $mobile-s-u;
    }

    h1 {
        font-size: em(29px);
        line-height: 46px;
    }

    h2 {
        font-size: em(23px);
        line-height: 37px;
    }

    h3 {
        font-size: em(18px);
        line-height: 30px;
    }

    h4,
    p,
    h5,
    ul,
    ol {
        font-size: em(14px);
        line-height: 24px;
    }

    li>ul {
        font-size: 14px;
        line-height: 24px;
    }
}

/**
 * Links
 */

a {
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
    color: inherit;
    &:hover {
        text-decoration: none;
        border: none;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        border: none;
    }
}

@mixin link-color($color, $visited-color) {
    color: $color;
    &:hover:after {
        @include border(link, $color);
        width: 100%;
        -webkit-transition: .75s ease;
        transition: .75s ease;
    }

    &:visited {
        color: $visited-color;

        &:hover:after {
            @include border(link, $visited-color);
        }
    }
}

/**
 * Lists
 */

ul,
ol,
li {
    margin: 0;
    padding: 0;
}

ul,
ol {
    padding-left: $gutter;
}

li>ul {
    list-style: disc;
}


/**
 * Blockquotes
 */

blockquote {
    color: $text-color;
    border-left: 4px solid $text-color;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * Clearfix
 */

/**
 * Images
 */
img {
    max-width: 100%;
}

/**
* Wrappers and display
*/

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.flex-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.inner-wrapper {
    max-width: $main;
    margin: 0 auto;
    padding: 0 percentage($gutter/$main);
}

#four-oh-four {
    margin: 1em auto;
    font-size: 10em;
}