.about {
    padding: $spacing-unit;
    background-color: $blue;
    @media only screen and (max-width: $tablet) {
    padding: $mobile-s-u;
        .img-wrapper {
        flex-basis: 45%;
        }
    }
    @media only screen and (max-width: $mobile) {
        .img-wrapper {
        flex-basis: 25%;
        }
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

.blurb {
  flex-basis: 59%;
}


