
 //* Site footer
 

#footer {
    @include body-padding;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: $spacing-unit;
    grid-template-rows: minmax(40px, auto) minmax(40px, auto) minmax(20px, 120.75px);
    background-color: $green;
    font-size: $small-font-size;
    color: $white; 
    a {
        text-decoration: none;  
        @include link-color ($white, $grey);
    }
    ul{
        list-style: none;
    }
    li {
        padding-bottom: $spacing-unit;
        display: inline;
    }
    p {
        margin-bottom: 0;
        @media only screen and (max-width: $tablet) {
            flex-basis: 50%;
        }
    }
}

.fa {

}

#socials{

}

#footer-nav{
   
}