
 //* Site footer
 

#footer {
    @include body-padding;
    display: flex;
    background-color: $green;
    font-size: $small-font-size;
    color: $white; 
    a {
        text-decoration: none;  
        @include link-color ($white, $grey);
    }
    ul{
        list-style: none;
    }
    li {
        padding-bottom: $spacing-unit;
        display: inline;
    }
    p {
        margin-bottom: 0;
        @media only screen and (max-width: $tablet) {
            flex-basis: 50%;
        }
    }
}

.fa {

}
