.home, .four-oh-four {
    @include body-padding;
}


/**
 * About section
 */
.about {
    padding: $spacing-unit;
    background-color: $blue;
    @media only screen and (max-width: $tablet) {
    padding: $mobile-s-u;
        .img-wrapper {
        flex-basis: 45%;
        }
    }
    @media only screen and (max-width: $mobile) {
        .img-wrapper {
        flex-basis: 25%;
        }
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

.blurb {
  flex-basis: 59%;
}


%card {
    padding: $spacing-unit;
    margin: $spacing-unit/2 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    flex-grow: 0;
    p:first-child {
        @include font-size(h3);
    }
    @media only screen and (min-width: 340px) and (max-width: $mobile) {
        min-height: 230px;
    }
}



/**
 * Project listing
 */

.projects {
    background-color: $blue;
   // display: flex;
    //flex-wrap: wrap;
    //justify-content: center;
    a {
        text-decoration: none;
        @include link-color($text-color, $text-color);
    }
    .card {
        background-color: $white;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        border: 1px solid black;
        margin: $spacing-unit;
        &:hover {
            opacity: .65;
        }
        img{

        }
    }

    .meta {
        font-size: $small-font-size;
    }
    .blurb {
        padding: $spacing-unit;
    }
}





