%card {
    padding: $spacing-unit;
    margin: $spacing-unit/2 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    flex-grow: 0;
    p:first-child {
        @include font-size(h3);
    }
    @media only screen and (min-width: 340px) and (max-width: $mobile) {
        min-height: 230px;
    }
}


.projects {
    background-color: $blue;
   // display: flex;
    //flex-wrap: wrap;
    //justify-content: center;
    a {
        text-decoration: none;
    }
    .card {
        background-color: $white;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        border: 1px solid black;
        margin: $spacing-unit;
        &:hover {
            opacity: .65;
        }
        img{

        }
    }

    .meta {
        font-size: $small-font-size;
    }
    .blurb {
        padding: $spacing-unit;
    }
}